{%  extends 'base.html'%}
{% load static %}
{% block content%}


<link rel="stylesheet" href="{%static './css/sanfran-team/style.css'%}">

<style>
.sub-title {
    background-color: #333;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    text-align: center;
    padding: 180px 0 100px;
    margin-bottom: 10px;
}
.sub-title-inner h2.page-leading {
    color: #ffffff;
}
.sub-title-inner h2.page-leading {
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    word-wrap: break-word;
}
.contact-section h2 {
    font-size: 30px;
    color: #2f373a;
    font-weight: 700;
    padding-bottom: 12px;
    margin-bottom: 30px;
}
.contact-section .contact-info {
    position: relative;
    margin-bottom: 40px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.contact-section .contact-info li {
    position: relative;
    padding-left: 90px;
    margin-bottom: 35px;
    line-height: 24px;
    color: #8d8d8d;
    padding-top: 5px;
    font-size: 13px;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.contact-section .contact-info li .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 56px;
    font-size: 24px;
    color: #f8ae34;
    border: 1px solid #eee;
}

.contact-section .contact-info li h3 {
    color: #23282a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.contact-section {
    position: relative;
    padding: 70px 0px 70px;
}
.contact-section .column .inner-box {
    position: relative;
    padding-left: 20px;
}
.contact-section .column {
    position: relative;
    margin-bottom: 30px;
}

</style>

<section id="main"><div class="sub-title" style="background-image:url({%static './img/contact-us/2.jpg'%});background-size: cover;background-position: 50% 50%;"><div class="sub-title-inner"><div class="container"><div class="row"><div class="col-sm-12"><h2 class="leading"></h2><h2 class="page-leading">Contact Us</h2></div></div></div></div></div><section class="contact-section"><div class="auto-container"><div class="row clearfix"><div class="column col-md-6 col-sm-6 col-xs-12"><div class="inner-box"><h2>Corporate Office</h2><div class="contact-info"><ul><li>
    <span class=" icon fas fa-map-marker"></span><h3></h3> A-73 A-Block, Sector - 02 Noida, UP 201301</li><li>
    <span class="icon fas fa-envelope"></span><h3></h3> info@sanfrangroup.com</li><li>
    <span class="icon fas fa-phone"></span><h3></h3> (+01) 120 4113884</li></ul></div></div></div><div class="column col-md-6 col-sm-6 col-xs-12"><div class="inner-box"><h2>Site Office</h2><div class="contact-info"><ul><li>
    <span class="icon fas fa-map-marker"></span><h3></h3> Sanfran Ashok City, Near Green Homes City Police Chowki, Kanpur – Gwalior By Pass, Jhansi -284001</li><li>
    <span class="icon fas fa-envelope"></span><h3></h3> info@sanfrangroup.com</li><li>
    <span class="icon fas fa-phone"></span><h3></h3> (+91) 8081751212</li></ul></div></div></div><div class="column col-md-12 col-sm-6 col-xs-12">
    [contact-form-7 id="6" title="Contact form 1"]</div></div></div></section><div class="map"><div class="google-map" id="contact-google-map" style="height:435px; width:100%;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.4794986982256!2d77.3104602145585!3d28.58538869296502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce45f74121919%3A0x4349519e9f043a6!2sA-73%2C+A+Block%2C+Sector+2%2C+Noida%2C+Uttar+Pradesh+201301!5e0!3m2!1sen!2sin!4v1544092954606" width="100%" height="450" frameborder="" style="border:0" allowfullscreen=""></iframe></div></div></section>

{% endblock%}