{%  extends 'base.html'%}
{% load static %}
{% block content%}

<link rel="stylesheet" href="{%static './css/management/js_composer.min40df.css'%}">

<style>
    .sub-title {
    background-color: #333;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    text-align: center;
    padding: 180px 0 100px;
    margin-bottom: 10px;

}
    .sub-title-inner h2.page-leading {
    color: #ffffff;
}

.sub-title-inner h2.page-leading {
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    word-wrap: break-word;
}

    
</style>

<section id="main">
    <div class="sub-title" style="background-image:url({%static './img/finance/career-banner.jpg'%});background-size: cover;background-position: 50% 50%;">
        <div class="sub-title-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="page-leading">Finance</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="content" class="site-content" role="main">
            <div id="post-1843" class="post-1843 page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <h2 style="color: #d1a14f;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal" class="vc_custom_heading">Finance</h2>
                                    <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_30 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_blue">
                                        <span class="vc_sep_holder vc_sep_holder_l">
                                            <span class="vc_sep_line"></span>
                                        </span>
                                        <span class="vc_sep_holder vc_sep_holder_r">
                                            <span class="vc_sep_line"></span>
                                        </span>
                                    </div>
                                    <div class="vc_empty_space" style="height: 32px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                        <div class="wpb_wrapper">
                                            <script src="../../emicalculator.net/widget/2.0/js/emicalc-loader.min.js"></script>
                                            <div id="ecww-widgetwrapper" style="min-width:250px;width:100%;">
                                                <div id="ecww-widget" style="position:relative;padding-top:0;height:0;overflow:hidden;padding-bottom:280px;">
                                                    <iframe id="ecww-widget-iframe" frameborder="0" scrolling="no" width="800px" height="280px" src="https://emicalculator.net/widget/2.0/widget.html" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                                                </div>
                                                <div id="ecww-more" style="background:#333;font:normal 13px/1 Helvetica, Arial, Verdana, Sans-serif;padding:10px 0;color:#FFF;text-align:center;width:100%;clear:both;margin:0;clear:both;float:left;">
                                                    <a style="background:#333;color:#FFF;text-decoration:none;border-bottom:1px dotted #ccc;" href="https://emicalculator.net/" title="Loan EMI Calculator" rel="nofollow" target="_blank"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}