{%  extends 'base.html'%}
{% load static %}
{% block content%}



<link rel="stylesheet" href="{%static './css/management/main.css'%}">
<link rel="stylesheet" href="{%static './css/management/owl.css'%}">
<link rel="stylesheet" href="{%static './css/management/js_composer.min40df.css'%}">
<link rel="stylesheet" href="{%static './css/management/style.css'%}">

<style>
.decor-text {
    font-size: 138px;
    transition: all ease .35s;
    font-weight: 700;
    letter-spacing: 0px;
    position: absolute;
    left: calc(50% - 143px);
    text-shadow: 0 0 10px rgba(0,0,0,.3);
    font-family: poppins,sans-serif;
    line-height: 1;
    color: #fff;
    text-align: center;
    z-index: 1;
    padding-top: 45px;
    margin-top: 0px;
    text-transform: uppercase;
}


.sub-title-inner h2.page-leading {
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    word-wrap: break-word;
}
.overview a {
    color: #ffffff;
    margin: 15px 5px 30px;
    padding: 20px 30px;
    font-size: 17px;
    font-weight: normal;
    line-height: 10px;
    background: #132f56;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold_1', sans-serif;
}
.overview a:hover {
    color: #fff;
    background: #fbaf3f;
    text-decoration: none;
    .overview h3 {
    color: #fbaf3f;
    margin: 0px 0px 0px -5px;
    padding: 0px;
    font-size: 75px;
    display: none;
    font-weight: normal;
    line-height: 70px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
}
.overview h3 {
    color: #fbaf3f;
    margin: 0px 0px 0px -5px;
    padding: 0px;
    font-size: 75px;
    display: none;
    font-weight: normal;
    line-height: 70px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
}
.overview hr {
    height: 3px;
    width: 165px;
    display: none;
    border-top: 0px;
    background: #fbaf3f;
    margin: 3px 0px 25px 2px;
}
.overview p {
    color: #717070;
    margin: 0px 0px 15px;
    padding: 0px;
    font-size: 15px;
    line-height: 23px;
    font-weight: normal;
    text-align: justify;
    text-align-last: left;
    font-family: 'Montserrat-SemiBold_1', sans-serif;
}
</style>


<section id="main">
    <div class="sub-title" style="background-image: url({%static './img/management/CM.jpg' %});background-size: cover;   
    background-position: 50% 50%;"> 
        
        <div class="sub-title-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="page-leading">management</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="content" class="site-content" role="main">
            <div id="post-1634" class="post-1634 page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                        <div class="wpb_wrapper">
                                            <div class="container" style="margin-top: 35px;">
                                                <div class="row">
                                                    <div class="decor-text" style="font-size:100px;">Management</div>
                                                    <div class="col-lg-6">
                                                        <div class="decorate-img" >
                                                            <img src="{%static './img/management/overview-img.jpg' %}" alt="" class="img-responsive">
                                                        </div>
                                                    </div>
                                                <div class="col-lg-6 col-12">
                                                    <div class="overview">
                                                        <h3>Management</h3>
                                                        <hr>
                                                        <div style="margin-top: 175px;">
                                                        <p><b>The Company</b> is professionally managed by highly competent, focused and receptive bunch of people. The team has ample experience in achieving exceptional performance and is adamant to cover the extra mile to achieve customer ecstasy. The company has received exponential growth in few years and has become the leading real estate developer in India. Sanfran is the most trusted brand in the industry because of unblinking vision of its senior management and constant perseverance of its employees.
                                                        </p>
                                                        <p>The guiding mentors bring together a hardworking team of technology and business experts who provide a right track to the executive team which leads to an ultimate success path. It also takes the leadership of visionary and competent management team. SanfranGroup has an eminently qualified team from diverse disciples i.e. architectural background, civil engineering, and management.</p>
                                                        
                                                        <p><b>The core team includes a bunch of professionals who are like- minded.</b></p>

                                                        <a href="{%url 'contact-us'%}">Contact Us</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1552546703835 vc_row-has-fill" style="position: relative; left: -90.5px; box-sizing: border-box; width: 1351px; padding-left: 90.5px; padding-right: 90.5px;">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                        <div class="wpb_wrapper">
                                            <section style="padding: 50px 0px 20px; background:#f9f7f7;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="blue">
                                                                <div class="col-md-4">
                                                                    <div class="sanfran-md-messge">
                                                                        <div class="messge-img">
                                                                            <img src="{%static './img/management/022.jpg'%}" alt="022" class="img-responsive">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="sanfran-md-messge">
                                                                        <div class="messge-txt">
                                                                            <h4>MR. M.B PANDIYAN</h4>
                                                                            <span>Chairman &amp; WTD, Sanfran Group</span>
                                                                            <p>As we celebrate the start of 2019, I sincerely thank our customers, vendors, stakeholders and team Sanfran. These are momentous times...</p>
                                                                            <a target="_blank" href="{%url 'index'%}" style="border-radius: 10px;padding: 10px 15px;font-weight: 600;color: #ffffff;background: #132f56;font-family: Montserrat;text-decoration:none;">Read Full Message</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="yellow">
                                                                <div class="col-md-4">
                                                                    <div class="sanfran-md-messge">
                                                                        <div class="messge-img">
                                                                            <img src="{%static './img/management/011.jpg'%}" alt="011" class="img-responsive">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="sanfran-md-messge">
                                                                        <div class="messge-txt">
                                                                            <h4 style="color: #fbaf3f;">MR. SANTOSH MISHRA</h4>
                                                                            <span>Managing Director, Sanfran Group</span>
                                                                            <p>Since, now-a-days we are passing through a transitional stage in the real-estate sector, from Non-RERA compliance projects...</p>
                                                                            <a target="_blank" href="{%url 'index' %}" style="border-radius: 10px;padding: 10px 15px;font-weight: 600;color: #ffffff;background: #fbaf3f;font-family: Montserrat;text-decoration:none;">Read Full Message</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>


{% endblock%}